* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", "sans-serif";
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #edf5fe;
}
/* PRELOADER */
#preloader {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 10000;
  transition: all 0.3s ease-out;
  background-color: #000021;
}
#preloader.interval {
  visibility: hidden;
  opacity: 0;
}
#preloader .loader {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.loader:before,
.loader:after {
  content: "";
  border: 3.5px solid #bfcce5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
}
.loader:before {
  opacity: 1;
  animation: beforeWave 1s infinite linear;
}

.loader:after {
  opacity: 0;
  animation: afterWave 1s infinite linear;
}
@keyframes afterWave {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes beforeWave {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
/* MAIN BODY */
.main-body {
  position: absolute;
  right: 0;
  top: 120px;
  width: 80%;
}
.main-body > .heading {
  font-size: 20px;
  color: #000021;
  margin-left: 40px;
  font-weight: 500;
}
.main-body > .main-body-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.main-body > .main-body-message > i {
  font-size: 50px;
  margin-bottom: 20px;
  color: #000021;
}
.main-body > .main-body-message > h3 {
  font-size: 18px;
  color: #000021;
  font-weight: 500;
}

.main-body > .profile-dropdown {
  position: absolute;
  right: 30px;
  background-color: #fff;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.21);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.main-body > .profile-dropdown.show {
  opacity: 1;
  visibility: visible;
}
.main-body > .profile-dropdown > .profile-dropdown-name {
  display: flex;
  align-items: center;
  padding: 30px 30px 30px;
  border-bottom: 1px solid #000021;
}
.main-body
  > .profile-dropdown
  > .profile-dropdown-name
  > .profile-dropdown-name-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-body
  > .profile-dropdown
  > .profile-dropdown-name
  > .profile-dropdown-name-details
  > .dropdown-email {
  font-size: 12px;
  color: #000021;
  font-weight: 400;
}
.main-body
  > .profile-dropdown
  > .profile-dropdown-name
  > .profile-dropdown-name-details
  > .dropdown-username {
  font-size: 14px;
  color: #000021;
  font-weight: 500;
  margin-bottom: 3px;
}
.main-body > .profile-dropdown > .profile-dropdown-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 30px 40px;
}
.main-body > .profile-dropdown > .profile-dropdown-links > .view-profile,
.main-body > .profile-dropdown > .profile-dropdown-links > .sign-out {
  margin-bottom: 30px;
}
.main-body > .profile-dropdown > .profile-dropdown-name > i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  font-size: 20px;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.main-body > .profile-dropdown > .profile-dropdown-links > a {
  text-decoration: none;
  color: #040455;
  font-weight: 300;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.main-body > .profile-dropdown > .profile-dropdown-links > a > i {
  font-size: 20px;
  margin-right: 5px;
}

footer {
  border-top: 1px solid #000021;
  padding: 20px 0;
  width: 79.77%;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
}
footer > p {
  font-size: 14px;
  font-weight: 500;
  color: #000021;
}
/* MAIN BODY */

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000021;
  height: 100%;
  width: 15%;
  padding: 20px 40px;
}
.sidebar > .sidebar-img > img {
  width: 150px;
  margin-bottom: 100px;
}
.sidebar > .sidebar-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
.sidebar > .extra-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
.sidebar > .sidebar-links > li > a,
.sidebar > .extra-links > li > a {
  text-decoration: none;
  color: #ede9e9;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  margin-bottom: 45px;
}
.sidebar > .sidebar-links > li > .edit-profile {
  margin-bottom: 100px;
}
.sidebar > .sidebar-links > li > a.active {
  color: dodgerblue;
}
.sidebar > .sidebar-links > li > a:hover,
.sidebar > .extra-links > li > a:hover {
  color: dodgerblue;
}
.sidebar > .sidebar-links > li > a > i,
.sidebar > .extra-links > li > a > i {
  font-size: 20px;
}
.sidebar > .bi-x-lg {
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 0;
  display: none;
}
/* SIDEBAR */

/* NAVBAR */
nav {
  border-bottom: 1px solid #000021;
  padding: 20px 0;
  width: 79.77%;
  right: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}
nav > .nav-btns {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 20px;
}
nav > .nav-btns > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
nav > .nav-btns > .profile {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
nav > .nav-btns > .profile > .profile-name {
  display: flex;
  align-items: center;
  color: #000021;
  font-weight: 600;
  gap: 5px;
}
nav > .nav-btns > .profile > .profile-name > .bi-chevron-down {
  margin-top: 2px;
  transition: rotate 0.2s ease-in-out;
}
nav > .nav-btns > .profile > .profile-name > .bi-chevron-down.rotate {
  rotate: 180deg;
}
nav > .nav-btns > button > .bi-person,
nav > .nav-btns > button > .bi-bell {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000021;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
nav > .bi-list {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000021;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  display: none;
}
/* NAVBAR */

@media (max-width: 576px) {
  .sidebar {
    /* display: none; */
    width: 100%;
    z-index: 100;
    padding: 20px 15px;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
  }
  .sidebar.show {
    transform: translateX(0);
  }
  .sidebar > .sidebar-links > li > a,
  .sidebar > .extra-links > li > a {
    font-size: 14px;
  }
  .sidebar > .sidebar-img > img {
    width: 120px;
  }
  .sidebar > .bi-x-lg {
    display: flex;
    right: 45px;
    font-size: 16px;
  }
  nav {
    width: 100%;
    padding: 8px 0;
  }
  .main-body > .profile-dropdown {
    right: 10px;
    top: -30px;
  }
  .main-body {
    width: 100%;
    margin: 0;
  }
  .main-body > .main-body-message > i {
    font-size: 40px;
  }
  .main-body > .heading {
    margin: 0 0 0 10px;
  }
  footer {
    width: 100%;
  }
  footer > p {
    font-size: 12px;
  }
  nav > .nav-btns > .profile > .profile-name {
    display: none;
  }
  nav > .nav-btns > button > .bi-bell {
    display: none;
  }
  nav > .nav-btns {
    margin: 0;
  }
  nav > .bi-list,
  nav > .nav-btns > button > .bi-person {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  nav > .bi-list {
    left: 15px;
    display: flex;
  }
  nav > .nav-btns > button > .bi-person {
    margin-right: 15px;
  }
}

/* MEDIUM SCREEN MEIDA QUERY */
@media (min-width: 576px) and (max-width: 768px) {
  .sidebar {
    width: 100%;
    z-index: 100;
    padding: 20px 15px;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
  }
  .sidebar.show {
    transform: translateX(0);
  }
  .sidebar > .sidebar-links > li > a,
  .sidebar > .extra-links > li > a {
    font-size: 16px;
  }
  .sidebar > .sidebar-img > img {
    width: 130px;
  }
  .sidebar > .bi-x-lg {
    display: flex;
    right: 45px;
    font-size: 18px;
  }
  nav {
    width: 100%;
    padding: 8px 0;
  }
  .main-body > .profile-dropdown {
    right: 20px;
    top: -30px;
  }
  .main-body {
    width: 100%;
    margin: 0;
  }
  .main-body > .main-body-message > i {
    font-size: 40px;
  }
  .main-body > .heading {
    margin: 0 0 0 20px;
  }
  footer {
    width: 100%;
  }
  footer > p {
    font-size: 12px;
  }
  nav > .nav-btns > .profile > .profile-name {
    display: none;
  }
  nav > .nav-btns > button > .bi-bell {
    display: none;
  }
  nav > .nav-btns {
    margin: 0;
  }
  nav > .bi-list,
  nav > .nav-btns > button > .bi-person {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  nav > .bi-list {
    left: 20px;
    display: flex;
  }
  nav > .nav-btns > button > .bi-person {
    margin-right: 20px;
  }
}
/* MEDIUM SCREEN MEIDA QUERY */

/* LARGE SCREEN MEDIA QUERY */
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 100%;
    z-index: 100;
    padding: 20px 15px;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
  }
  .sidebar.show {
    transform: translateX(0);
  }
  .sidebar > .sidebar-links > li > a,
  .sidebar > .extra-links > li > a {
    font-size: 18px;
  }
  .sidebar > .sidebar-img > img {
    width: 150px;
  }
  .sidebar > .bi-x-lg {
    display: flex;
    right: 45px;
    font-size: 18px;
  }
  nav {
    width: 100%;
    padding: 8px 0;
  }
  .main-body > .profile-dropdown {
    right: 20px;
    top: -30px;
  }
  .main-body {
    width: 100%;
    margin: 0;
  }
  .main-body > .main-body-message > i {
    font-size: 40px;
  }
  .main-body > .heading {
    margin: 0 0 0 20px;
  }

  footer {
    width: 100%;
  }
  footer > p {
    font-size: 14px;
  }
  nav > .nav-btns > .profile > .profile-name {
    display: none;
  }
  nav > .nav-btns > button > .bi-bell {
    display: none;
  }
  nav > .nav-btns {
    margin: 0;
  }
  nav > .bi-list,
  nav > .nav-btns > button > .bi-person {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  nav > .bi-list {
    left: 20px;
    display: flex;
  }
  nav > .nav-btns > button > .bi-person {
    margin-right: 20px;
  }
}
/* LARGE SCREEN MEDIA QUERY */
/* X-LARGE SCREEN MEDIA QUERY */
@media (min-width: 991px) and (max-width: 1200px) {
  .sidebar {
    width: 20%;
  }
  .main-body {
    width: 75%;
  }
  nav {
    width: 75%;
  }
  .main-body > .heading {
    margin-left: 60px;
  }
  .main-body > .main-body-message > i {
    font-size: 40px;
  }
}
/* X-LARGE SCREEN MEDIA QUERY */
